.slowworm-button {
  width: 10rem;
  line-height: 1.5rem;
  background: linear-gradient(145deg, #3a3a3a, #1a1a1a);
  border: grey; /* Green border */
  border-radius: 10px;
  box-shadow: 5px 5px 15px #000000, -5px -5px 15px #4a4a4a, 0 0 10px #00ff00; /* Add green glow */
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  outline: none;
  transition: color 2s ease-in-out; /* Add transition for box-shadow */
  transition: border 2s ease-in-out; /* Add transition for box-shadow */

  &--connected {
    outline: none;

    background: linear-gradient(145deg, #1a1a1a, #3a3a3a);
    box-shadow: 5px 5px 15px #4a4a4a, -5px -5px 15px #000000, 0 0 20px #00ff00,
      0 0 30px #00ff00; /* Increase glow on hover */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Increase text glow on hover */
  }

  &:active {
    outline: none;
    background: linear-gradient(145deg, #1a1a1a, #3a3a3a);
    box-shadow: inset 5px 5px 15px #000000, inset -5px -5px 15px #4a4a4a,
      0 0 10px #00ff00; /* Maintain glow on active */
  }

  &:focus {
    outline: none; /* Ensure no outline on focus */
  }
}
