.code-input {
  width: 80vw;
  height: 30vw; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #00ff00;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", Courier, monospace; /* IDE-like font */
  font-size: 16px; /* Adjust font size as needed */
  background-color: #16161d; /* Dark background color */
  color: #00ff00; /* Light text color */
  overflow: auto; /* Enable scrolling */
  white-space: pre; /* Preserve whitespace */
  resize: none; /* Prevent resizing */
  text-shadow: 0 0 3px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Glowing effect */
  outline: none;

  &::placeholder {
    color: #4c566a; /* Placeholder color */
  }

  &:focus {
    outline: none;
    border-color: #88c0d0; /* Border color on focus */
    box-shadow: 0 0 5px rgba(136, 192, 208, 0.5); /* Shadow on focus */
    box-shadow: 5px 5px 15px #4a4a4a, -5px -5px 15px #000000, 0 0 20px #00ff00,
      0 0 30px #00ff00; /* Increase glow on hover */
  }
}
