:root {
  --font-family: "Courier New", Courier, monospace;
  --eigengrau: #16161d;
  --amstrad-grey: #333333;
  --disconnected-grey: #4a4a4a; /* Darkish grey */
  --glowworm-green: #00ff00;
  --glowworm-blue: #0000aa;
  --glowworm-yellow: #ffff55;
}

body {
  background-color: var(--amstrad-grey); /* Light stony grey */
  font-family: var(--font-family);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
