.code-output {
  width: 80vw;
  height: 30vw; /* Adjust height as needed */
  font-family: "Courier New", Courier, monospace; /* IDE-like font */
  font-size: 16px; /* Adjust font size as needed */
  background-color: #0000aa; /* Dark background color */
  color: #ffff55; /* Light text color */
  overflow: auto; /* Enable scrolling */
  white-space: pre; /* Preserve whitespace */
  resize: none; /* Prevent resizing */
  text-shadow: 0 0 3px #ffff55, 0 0 10px #ffff55, 0 0 15px #ffff55; /* Glowing effect */
  text-align: inline-start;
  transition: box-shadow 2s ease-in-out; /* Add transition for box-shadow */

  &::placeholder {
    color: #4c566a; /* Placeholder color */
    text-align: inline-start;
  }

  &--connected {
    outline: none;
    box-shadow: 5px 5px 15px #4a4a4a, -5px -5px 15px #000000, 0 0 20px #00ff00,
      0 0 30px #ffff55;
  }

  p {
    text-align: start;
  }
}
