.code-output {
  width: 80vw;
  height: 30vw; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", Courier, monospace; /* IDE-like font */
  font-size: 16px; /* Adjust font size as needed */
  background-color: #0000aa; /* Dark background color */
  outline: #ffff55;
  color: #ffff55; /* Light text color */
  overflow: auto; /* Enable scrolling */
  white-space: pre; /* Preserve whitespace */
  resize: none; /* Prevent resizing */
  text-shadow: 0 0 3px #ffff55, 0 0 10px #ffff55, 0 0 15px #ffff55; /* Glowing effect */
  text-align: inline-start;
  box-shadow: 5px 5px 15px #4a4a4a, -5px -5px 15px #000000, 0 0 20px #00ff00,
    0 0 30px #ffff55; /* Increase glow on hover */

  &::placeholder {
    color: #4c566a; /* Placeholder color */
    text-align: inline-start;
  }

  &:focus {
    outline: none;
    border-color: #88c0d0; /* Border color on focus */
    box-shadow: 0 0 5px rgba(136, 192, 208, 0.5); /* Shadow on focus */
  }

  p {
    text-align: start;
  }
}
